html{
	font-family: sans-serif;
}

section{
	align-items: center;
	justify-content: center;
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: beige;


}

.display_box{
	background-color: #e0e0e0;
	height: 50px;
	width: 90%;
	border-radius: 15px;
	text-align: center;
	font-stretch: semi-expanded;
	font-weight: 900;
	font-size: 15px;

}

.button1{
border-radius: 15px;
font-size: 30px;
align-items: center;
justify-content: center;
width: 60px;
height: 60px;
cursor: pointer;
display: inline-block;
}

.button1:hover {
	background-color: lightgrey;
	opacity: 60%;
}

.calculator{
	background-color: #e0e0e0;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 5px 5px 14px orangered;

}